<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'lesson:get_products' %}">All</a>
    {% for category in categories %}
        <a href="{% url 'lesson:get_categories' category.id %}">{{ category.name }}</a>
    {% endfor %}
    {% for product in product %}
    <div class="item_card">
        <img src="{{ product.image.url }}">
    <p>Наименование: {{product.name }}</p>
    <p>Цена: {{product.price }}</p>
    <p>Описание: {{product.description }}</p>
    </div>
    {% endfor %}
</body>
</html>